@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dancing: "Dancing Script";
    --lato: "Lato";
    --poppins: "Poppins";
    --inter: "Inter";
    --black: #212121;
    --white: #fff;
    --orange: #ff9933;
    --gray: #767070;
    --blue: #d7e6ec;
  }
  body {
    @apply font-poppings;
  }
}
@layer components {
  aside {
    @apply overflow-auto flex flex-col items-center bg-black w-1/5 fixed h-custom;
  }
  #content {
    @apply flex flex-col  w-4/5 ml-[20%] h-custom justify-between;
  }
  aside.active {
    @apply -left-1/2;
  }
  #content.active {
    @apply w-full ml-0;
  }
}
