* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orangered;
  padding: 15px;
  color: white;
}
.navlist > ul > li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}
ul {
  position: relative;
}
li::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: white;
  bottom: 0;
  transition: width 1s ease;
}
li:hover::before {
  width: 45px;
}
.logo {
  font-weight: bold;
}
.logo:hover {
  font-weight: bolder;
  transform: scale(1.25);
}
.tel {
  position: relative;
}
.tel > p:hover::before {
  content: "\260E";
  position: absolute;
  bottom: 0;
  right: 105%;
}
.heroImg {
  background-image: url("/Day3/assets/images/backgoround_img.jpg");
  height: calc(100vh - 48px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgText {
  color: white;
  text-align: center;
}
.text:hover {
  color: rgb(233, 145, 113);
}
.button {
  border-radius: 15px;
  padding: 10px;
  background-color: orangered;
  text-decoration: none;
  color: white;
  font-size: 12px;
  box-shadow: 1px 1px 10px white;
}
.button:hover {
  color: orangered;
  background-color: black;
}
.faqSection {
  margin-top: 30px;
}
.faq {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.faq::before {
  content: " ";
  width: 110px;
  height: 1px;
  background-color: orangered;
  position: absolute;
  top: 90%;
  z-index: -1;
}
.faq::after {
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border: 5px solid white;
}
.faqlist {
  width: 600px;
  margin: auto;
}
.outer {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
dt {
  background-color: orangered;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 8px;
}
dt:hover {
  background-color: black;
  color: orangered;
}
dd {
  padding: 8px;
  text-align: justify;
}
footer {
  margin-top: 25px;
  background-color: black;
  padding: 15px;
}
