@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}
:root {
  --bodyFont: "Roboto", sans-serif;
  --headFont: "Archivo", sans-serif;
  --navBgColor: #e76f51;
  --headFontSize: 81px;
  --textFontSize: 18px;
}
.outer {
  max-width: 1461px;
  margin: auto;
}
header {
  width: 100%;
  position: absolute;
  top: 0%;
}
.cover {
  background-image: url("/Day6/assets/img/bg_10.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  height: 100vh;
}
.headText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  color: white;
  text-align: center;
  padding-top: 200px;
}
.innerContainer {
  max-width: 1140px;
  margin: auto;
}
.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  font-family: var(--bodyFont);
}
.logo {
  padding-top: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.tlogo {
  max-width: 100%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#menuIcon {
  color: var(--navBgColor);
  font-size: 20px;
}
.iconDiv {
  background-color: white;
  width: 20px;
  padding: 14px;
  text-align: center;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
.menu li {
  list-style-type: noe;
  display: inline;
  margin-left: 10px;
  position: relative;
}
.menu li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.menu li::before {
  content: url("/Day6/assets/img/Line\ 1.png");
  position: absolute;
  top: 0;
  left: 10%;
  display: none;
}
.menu li:hover::before {
  display: block;
}
.hbMenu {
  display: none;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn a {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  max-width: 100px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 15px;
  transition: all 0.5s ease-in;
  font-size: 14px;
}
.title {
  font-family: var(--headFont);
  font-size: 60px;
  font-weight: bolder;
}
.subTitle {
  font-family: var(--bodyFont);
  font-size: 18px;
}
.titleBtn {
  text-align: center;
  color: white;
  text-decoration: none;
  width: 130px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 15px;
  font-family: var(--bodyFont);
  font-size: 18px;
  transition: all 0.5s ease-in;
}
.titleBtn:hover {
  background-color: var(--navBgColor);
}
/* head box section */
main {
  margin: 180px 0px 60px 0px;
  margin-top: -70px;
}
.innerContainer2 {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.destinyBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.box {
  max-width: calc((1140px / 4) - 35px);
  background-color: white;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
  transition: transform 0.5s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.destinyBox {
  max-width: calc((1140px / 4) - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;
  column-gap: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s linear;
}
.box:hover {
  transform: translateY(-30px);
}
.boxImg {
  max-width: 100%;
}
.bottomBox {
  font-family: var(--bodyFont);
  margin-top: 10px;
}
.boxTile {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--headFont);
}
.boxText {
  font-size: 14px;
  font-family: var(--bodyFont);
}
.locationLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.imgIcon {
  position: relative;
}
.iconDot {
  max-width: 100%;
  transition: transform 0.5s linear;
}
.imgIcon::before {
  content: url("/Day6/assets/img/Ellipse\ 58.png");
  position: absolute;
  top: 10%;
  left: 15%;
  z-index: -1;
}
.imgIcon:hover .iconDot {
  transform: scaleX(-1);
}
.section2Title {
  font-family: var(--bodyFont);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
.destinyBox:hover {
  transform: translateY(-20px);
}
.topDestinyBox {
  position: relative;
  border-radius: 10px;
}
.destinyImg {
  max-width: 100%;
  border-radius: 10px;
}
.heart {
  max-width: 100%;
}
.heartDiv {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: white;
  position: absolute;
  right: 5%;
  top: 5%;
  border-radius: 10px;
}
.priceBtn {
  text-decoration: none;
  color: var(--navBgColor);
  position: absolute;
  top: 90%;
  right: 35%;
  width: 80px;
  padding: 5px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-family: var(--bodyFont);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.priceBtn:hover {
  background-color: #e76f51;
  color: white;
}
.bottomDestinyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.destinyTitle {
  font-family: var(--headFont);
  font-weight: 900;
  font-size: 16px;
}
.destinyText {
  font-family: var(--bodyFont);
  font-size: 14px;
}
.readMoreBtn {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--bodyFont);
  color: gray;
  background-color: silver;
  width: 100px;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}
.readMoreBtn:hover {
  background-color: var(--navBgColor);
  color: white;
}
.viewBtn {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--bodyFont);
  color: var(--navBgColor);
  background-color: transparent;
  width: 100px;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--navBgColor);
}
.viewBtn:hover {
  background-color: white;
}
.emailBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  background-image: url("/Day6/assets/img/Subscribe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  transition: transform 0.5s linear;
}
.emailBox:hover {
  transform: translateY(-10px);
}
.left {
  max-width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.emailTitle {
  font-family: var(--headFont);
  font-weight: 900;
}
.emailText {
  font-family: var(--bodyFont);
}
.mailbox {
  width: 400px;
  display: flex;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s linear;
}
.mailbox:hover {
  transform: scaleX(1.05);
}
.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
input {
  border: none;
  padding: 5px;
  width: 200px;
}
input:focus {
  outline: none;
}
.sent {
  max-width: 30px;
}
.arrowbtn {
  border: none;
  background-color: transparent;
}
.arrow {
  max-width: 100%;
}
.right {
  max-width: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tent {
  width: 80%;
}
/* footer */
footer {
  max-width: 1460px;
  margin: auto;
  background: linear-gradient(to right, #d6a4a4, #dbd4bd);
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  padding: 50px 0px;
  position: relative;
}
.upBox {
  background-color: white;
  width: 40px;
  padding: 8px;
  text-align: center;
  border-radius: 20%;
  position: fixed;
  bottom: 5px;
  right: 2%;
  border: none;
  outline: none;
}
#upArrow {
  color: var(--navBgColor);
}
.innerFooter {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 20px;
}
.fcontainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.f1 {
  max-width: calc(100% / 2);
}
.fText {
  font-family: var(--headFont);
  font-weight: 800;
  font-size: 18px;
}
.subText {
  font-family: var(--bodyFont);
  font-size: 16px;
}
.download {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.app {
  width: 40%;
}
.fList li {
  list-style-type: none;
  font-family: var(--bodyFont);
  font-size: 10px;
  display: block;
  margin: 0;
  font-size: 16px;
}
.copyRight {
  font-family: var(--bodyFont);
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}
@media screen and (max-width: 922px) {
  .emailBox {
    flex-direction: column-reverse;
    max-width: 75%;
    padding: 25px 0px;
    gap: 10px;
  }
  .mailbox {
    width: auto;
  }
  .left {
    align-items: center;
  }
  .box {
    max-width: calc(calc(1140px / 2) - 250px);
  }
  .destinyBox {
    max-width: calc(calc(1140px / 2) - 280px);
  }
}
@media screen and (max-width: 576px) {
  .hbMenu {
    display: none;
    background-color: rgba(11, 76, 98, 0.783);
    width: 1140px;
    margin: auto;
    height: 100vh;
  }
  .hbLists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 110px 200px;
  }
  .hbLists .hbList {
    width: 100%;
  }
  .hbLists,
  .hbList,
  a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-family: var(--headFont);
    font-size: 18px;
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  .btn {
    display: none;
  }
  .iconDiv {
    display: block;
  }
  .boxes {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .box {
    max-width: 65%;
  }
  .emailBox {
    max-width: 60%;
    height: 400px;
  }
  .mailbox {
    width: 200px;
  }
  .left {
    justify-content: center;
    align-items: center;
  }
  input {
    width: 60%;
  }
  .destinyBox {
    max-width: 50%;
  }
  .fcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 35px;
    padding: 20px;
  }
  .f1 {
    grid-column: 1 / span 4;
    max-width: 100%;
    text-align: justify;
  }
  .f2 {
    grid-column: 1 / span 2;
  }
  .f3 {
    grid-column: 3 / span 2;
  }
  .f4 {
    grid-column: 1 / span 4;
  }
  .innerFooter {
    max-width: 65%;
    gap: 20px;
  }
  .download {
    margin-left: 20px;
    flex-direction: column;
  }
  .appImg {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  .app {
    max-width: 30%;
  }
}
